body{
    margin: 0px;
}
a:nth-of-type(1){
    border: none;
    display: inline-block;
    background-color: red;
    padding: 50px;
    margin: 50px;
    text-decoration: none;
    color: pink;
}
/* never used spaces between name of css like "a :hover" */
a:hover{
    text-decoration: underline;
    color:red;
}
a img{
    border: 0px;
    margin-left: 100px;
    /* display: block; */
    height: 400px;
    width: 600px;
}