body{
    background-image: url("../../2.\ class\,\ id\,\ picture\ map\ and\ table/autumn-colorful-colourful-33109.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
}