body{
    margin: 0px;
    /* background-image: url('../autumn-colorful-colourful-33109.jpg'); */
}
a:nth-of-type(1){
    border: none;
    display: inline-block;
    background-color: red;
    padding: 50px;
    margin: 50px;
    text-decoration: none;
    color: pink;
}
/* never used spaces between name of css like "a :hover" */
a:hover{
    text-decoration: underline;
    color:red;
}
a img{
    border: 0px;
    margin-left: 100px;
    height: 400px;
    width: 600px;
}
table{
    border-spacing: 5px;
    border-collapse: collapse;
    background-color: aqua;
}
th{
    background-color: black;
}
tr:nth-child(odd){
    background-color: #eee;
}
tr:nth-child(even){
    background-color: #FFF;
}
td, th{
    border: 1px solid blue;
    border-spacing: 5px;
}