body{
    margin: 5px;
    align-self: auto;
}
h3:nth-of-type(2n+1){
    border: solid black;
    border-radius: 50px 0px 50px 0px;
    background-color: aqua;
    margin: 10px 100px;
    padding: 20px;
    color: white;
}
h3:nth-of-type(2n){
    border: solid black;
    border-radius: 0px 50px 0px 50px ;
    background-color: aqua;
    margin: 10px 100px;
    padding: 20px;
    color: white;
}
